.agencia-card {
    border: 1px solid #ccc;
    padding: 16px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.agencia-card h2 {
    margin: 0 0 8px;
}

.agencia-card p {
    margin: 4px 0;
}

.agencia-photo {
    max-width: 200px;
    margin-left: 16px;
}
.destinos-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar horizontalmente */
    justify-content: center; /* Centrar verticalmente si es necesario */
    text-align: center;
    padding: 20px; /* Ajusta según sea necesario */
}

.h1 {
    font-size: 2em; /* Ajusta el tamaño de fuente según sea necesario */
    margin-bottom: 20px; /* Ajusta el margen según sea necesario */
    color: #34495e; /* Azul grisáceo para coincidir con el estilo */
}
.filter-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar las cajas de selección */
    gap: 20px;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    border: 1px solid #7f8c8d; /* Gris suave */
    border-radius: 10px;
    background-color: #ecf0f1; /* Gris muy claro */
    text-align: center; /* Centrar el texto dentro de las cajas */
}

.filter-container select {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #16a085; /* Verde azulado */
    border-radius: 5px;
    background-color: #bdc3c7; /* Gris claro */
    width: 100%;
    max-width: 300px;
    text-align: center; /* Centrar el texto en la caja de selección */
}
