.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #4B0082; /* Cambia el color según tus necesidades */
  }
  
  .logo-slogan {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 50px; /* Ajusta el tamaño del logo según sea necesario */
    margin-right: 10px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin: 0 15px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .user-section {
    position: relative;
    color: white;
    cursor: pointer;
    font-size: 16px;
  }
  
  .user-dropdown {
    position: absolute;
    right: 0;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(27, 26, 26, 0.909);
    margin-top: 10px;
    width: 150px;
  }
  
  .dropdown-item {
    padding: 10px;
    color: #4B0082;
    text-align: left;
    cursor: pointer;
    font-size: 14px;
  }
  
  .dropdown-item:hover {
    background-color: #eee;
  }
  