.conocenos-mas {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  font-family: Arial, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
}

.company-info {
  display: flex;
  gap: 20px;
}

.company-photo {
  width: 400%;
  max-width: 350px;
  height: 400px; 
  margin: 0 auto;
  display: block;
  object-fit: cover; 
  border-radius: 10px; 
}

.company-details {
  flex: 1;
}

.company-details h2 {
  text-align: center;
}

.company-details p {
  margin-bottom: 10px;
}

.agencies {
  margin-bottom: 20px;
}

.agencies h2 {
  text-align: center;
}

.agencies ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

.agencies ul li {
  margin-bottom: 10px;
}

.agency-details {
  margin-bottom: 10px;
}

.agency-name {
  font-weight: bold;
}

.agency-address,
.agency-hours {
  margin-left: 20px;
}

.comments-section {
  margin-top: 40px;
  padding: 20px;
  border-top: 2px solid #ddd;
}

.comments-section h2 {
  margin-bottom: 10px;
}

.comments-section p {
  margin-bottom: 10px;
}

.rating {
  display: flex;
  gap: 5px;
  margin-bottom: 2px;
  justify-content: left;
}

.rating button {
  background: none;
  border: none;
  cursor: pointer;
}

.rating .on .star {
  color: gold;
}

.rating .off .star {
  color: #ccc;
}

.comment-box {
  width: 80%;
  height: 80px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.submit-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  width: 82%;
  height: 40px;
}

.submit-button:hover {
  background-color: #0056b3;
}

.example-comments {
  margin-top: 20px;
}

.comment {
  margin-bottom: 20px;
}

.comment strong {
  display: block;
  font-size: 1.2em;
  margin-bottom: 5px;
}

.comment .rating {
  justify-content: flex-start;
  gap: 2px; /* Espacio más reducido entre las estrellas */
}

.comment p {
  margin: 0;
}
