.perfil-container {
  max-width: 600px;
  margin: 0 auto; /* Centra el contenedor en la página */
  padding: 20px;
  border: 1px solid #ddd; /* Borde suave alrededor del contenedor */
  border-radius: 8px; /* Bordes redondeados */
  background-color: #f9f9f9; /* Fondo claro */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para un efecto de profundidad */
}

.perfil-container h2 {
  text-align: center;
  color: #34495e; /* Azul grisáceo */
  margin-bottom: 20px;
  font-size: 1.8em;
}

.perfil-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.perfil-info p {
  font-size: 1.1em;
  color: #2c3e50; /* Azul oscuro */
}

.perfil-info img {
  border-radius: 50%; /* Hace la imagen circular */
  border: 2px solid #7f8c8d; /* Añade un borde alrededor de la imagen */
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.input-group input[type="text"],
.input-group input[type="email"] {
  padding: 10px;
  border: 1px solid #bdc3c7; /* Gris claro */
  border-radius: 5px;
  font-size: 1em;
  width: 100%;
}

.input-group input[type="file"] {
  margin-top: 10px;
}

.button-update {
  padding: 12px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #2980b9; /* Azul sereno */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 200px;
  margin: 20px auto;
}

.button-update:hover {
  background-color: #2c3e50; /* Azul oscuro */
}

.mensaje {
  text-align: center;
  color: #16a085; /* Verde azulado */
  font-weight: bold;
  margin-top: 20px;
}
