.perfil-container {
  padding: 30px;
  font-family: Arial, sans-serif;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: auto;
}

.perfil-header {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.perfil-content {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.perfil-foto {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #4CAF50; /* Borde verde alrededor de la foto */
}

.perfil-info {
  margin-left: 20px;
}

.perfil-info p {
  margin: 5px 0;
  font-size: 16px;
}

.perfil-info a {
  color: #4CAF50;
  text-decoration: none;
  font-weight: bold;
}

.perfil-enlaces {
  margin-top: 20px;
}

.perfil-enlace {
  color: #4CAF50;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 10px;
}

.perfil-enlace-button {
  background: none;
  border: none;
  color: #0db50d; 
  text-decoration: underline;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px; 
}

.perfil-enlace-button:hover {
  background: none; 
  color: #0db50d; 
  text-decoration: underline; 
  
}

.perfil-boton-container {
  margin-top: 30px;
  text-align: center;
}

.perfil-boton-container h2 {
  font-size: 22px;
  margin-bottom: 15px;
  color: #333;
}

.perfil-boton {
  background-color: #4CAF50;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.perfil-boton:hover {
  background-color: #45a049;
  transform: scale(1.05);
}
.eliminar-cuenta-boton {
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font-size: 16px;
  padding: 0;
  outline: none;
  text-align:left;
}

.eliminar-cuenta-boton:focus,
.eliminar-cuenta-boton:active {
  outline: none; 
  color: rgb(233, 233, 239); 
}
