body {
  font-family: Arial, sans-serif;
  background-color: #f4f7f9; /* Fondo gris claro */
  margin: 0;
  padding: 0;
}

/* Contenedor principal del registro */
.registro-container {
  width: 100%;
  max-width: 400px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  margin: 50px auto; /* Centrado vertical y horizontal */
  box-sizing: border-box; /* Incluye padding y border en el ancho total */
}

/* Estilo del título */
.registro-container h2 {
  font-size: 2em;
  color: #34495e; /* Azul oscuro */
  margin-bottom: 20px;
  text-align: center;
}

/* Estilos para las etiquetas */
.registro-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #34495e; /* Azul oscuro */
}

/* Estilos para los campos de entrada */
.registro-container input[type='text'],
.registro-container input[type='email'],
.registro-container input[type='password'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #bdc3c7; /* Gris claro */
  border-radius: 5px;
  background-color: #ecf0f1; /* Fondo gris muy claro */
  font-size: 1em;
  color: #2c3e50; /* Azul grisáceo */
}

/* Estilos para el botón de envío */
.registro-container button[type='submit'] {
  width: 100%;
  padding: 12px 0;
  font-size: 1.1em;
  color: #fff;
  background-color: #27ae60; /* Verde sereno */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.registro-container button[type='submit']:hover {
  background-color: #1e8449; /* Verde más oscuro */
}

/* Estilos para el mensaje de error o éxito */
.registro-container p {
  margin-top: 20px;
  color: #e74c3c; /* Rojo para errores */
  font-weight: bold;
  text-align: center;
}

/* Estilos adicionales para hacer el formulario más elegante */
.registro-container form div {
  width: 100%;
  text-align: left;
}

.registro-container input:focus {
  outline: none;
  border-color: #27ae60; /* Cambia el color del borde al enfocar */
  box-shadow: 0 0 5px rgba(39, 174, 96, 0.5); /* Sombra suave al enfocar */
}

.login-redirect {
  margin-top: 20px;
  text-align: center;
}

.login-redirect button {
  width: 100%;
  font-size: 1.1em;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 0px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1em;
}

.login-redirect button:hover {
  background-color: #0056b3;
}

